.masthead {
  height: 500px;
  text-align: center;
  padding: 80px 0;
  position: relative;
  background-position: bottom center;
  background-repeat: none;
  background-size: cover !important;
  overflow: hidden;
  color: #fff;
  margin-bottom: $line-height-computed * 2;
  h1 {
    font-weight: 800;
    font-size: 64px;
  }
  h3 {
    opacity: 0.7;
    font-weight: normal;
  }
}
