.masthead {
  min-height: 500px;
  text-align: center;
  padding: 80px 0;
  position: relative;
  background-position: bottom center;
  background-repeat: none;
  background-size: cover !important;
  overflow: hidden;
  color: #fff;
  margin-top: -19px;

  h1 {
    font-weight: 800;
    font-size: 64px;
  }
  h3 {
    opacity: 0.7;
    font-weight: normal;
  }
}

.masthead__mask {
  z-index: 2;
}

.masthead__sign {
  width: 53px;
  height: 79px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
}

@media (max-width: $screen-xs-max) {
  #logo {
    width: 50px;
  }
  .masthead {
    min-height: 200px;

    h1 {
      font-size: 21px;
    }

    h3 {
      font-size: 18px;
    }
  }
}

.fb-like-box {
  margin: 47px 0 !important;
}
