footer {
  background: $primary-color;
  color: #fff;
  padding: 20px;
  margin-top: $line-height-computed * 2;

  a,
  a:hover {
    color: #fff;
  }

  ul {
    padding-left: 0;
  }

  h5 {
    margin-bottom: $line-height-computed;
  }

  input[type=submit] {
    @extend .btn;
    @extend .btn-default;
  }
}
