.section-header {
  padding-bottom: 10px;
  position: relative;
  margin-bottom: $line-height-computed * 2;
  display: block;
  color: $text-color;

  &:after {
    content: '';
    background: $text-color;
    display: block;
    height: 4px;
    width: 70px;
    position: relative;
    bottom: -10px;
    left: 0;
  }

  &:hover {
    text-decoration: none;
    color: $link-color;
    &:after {
      background: $link-color;
    }
  }
}
