body {
  font-family: 'Roboto', sans-serif;
}

.has-content-area {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.50;
}
