$primary-color: #BC3437;
$font-size-base: 16px;
$line-height-base: 1.45;
$link-color: $primary-color;
$text-color: #4A4A4A;
$navbar-inverse-bg: $primary-color;
$navbar-inverse-color: #fff;
$navbar-inverse-link-color: $navbar-inverse-color;
$navbar-inverse-link-active-bg: darken($navbar-inverse-bg, 10%);
$navbar-inverse-link-hover-bg: $navbar-inverse-link-active-bg;
